%box{
    width:1200px;
    margin:0 auto;

}
/*@function posi($left,$right) {
    @return background-position: $left $right;
}*/
@mixin  posi($left,$right) {
    background : {
        position: $left $right;
    }
}

a{
    color: inherit; 
}
a:hover{
    color: #ff6a00;
}


.headour{
    background-color: #f2f2f2;  
    border-bottom: 1px solid #e6e6e6;
    .site-nav{
        height: 34px; 
        color: #737373;
        @extend %box;
        ul li{
                height: 34px;
                line-height: 34px;
                float: left;
        }
        .site-nav-left {
            float: left;
            padding-left: 12px;
            li {
                    span{
                            background: url(../../images/index/common_z.png) no-repeat;
                            height: 24px;
                            width: 24px;
                            display: inline-block;
                            vertical-align: middle;
                    }
                    .ico1{
                        @include posi(-4px,-318px);
                    }
                     .ico2{
                        margin-left:8px;
                        @include posi(-374px,-131px);
                    }
                     .ico3{
                         margin-left:8px;
                        @include posi(-294px,-171px);
                    }
            }
            .dropdown {
                position: relative;
                a{
                        position: relative;
                        z-index: 1001;
                        width: 90px;
                        height: 34px;
                        boder : {
                            left:1px solid #f2f2f2;
                            right:1px solid #f2f2f2;
                            bottom: 1px solid #e6e6e6;
                        }
                        display: block;
                        &:hover{
                            width: 90px;
                              background-color: #fff;
                              boder : {
                                    left:1px solid;
                                    right:1px solid;
                                    color: #d9d9d9;
                                }
                            border-bottom-color:#fff;
                        }
                }

                &:hover{
                              .dropdown-menu{
                              display:block;}
                        }

                .dropdown-menu{
                        width: 130px;
                        padding: 20px 12px;
                        margin-top: -1px;
                        line-height: 18px;
                        border: 1px solid #e6e6e6;
                        position: absolute;
                        z-index: 1000;
                        display: none;
                        text-align: center;
                        background: white;
                         img{
                            display: inline-block;
                        }
                    }
            }
        }
        //site-nav-left end
        .site-nav-right {   
                float: right;
                li{
                    padding: 0 8px;
                    &:last-child{
                        padding: 0 0 0 7px;
                        margin-left: -1px;
                    }                   
                }
             .ico5{  
                    background: url(../../images/index/common_z.png) no-repeat;
                    height: 24px;
                    width: 24px;
                    display: inline-block;
                    vertical-align: middle;
                    @include posi(-342px ,-284px);
                }
                .site-nav-pipe{
                        padding: 0 0;
                    }
                    .dropdown{
                        border{
                                left: 1px solid #f2f2f2;
                                right: 1px solid #f2f2f2;
                        }
                        position: relative; 
                        &:hover{
                            background: white;
                            border{
                                left: 1px solid #e6e6e6;
                                right: 1px solid #e6e6e6;
                            }
                            .ico4{
                                    background: url(../../images/index/small002.png) no-repeat;
                                }
                        }

                         .ico4{
                                background: url(../../images/index/small001.png) no-repeat;
                                height: 6px;
                                width: 11px;
                                display: inline-block;
                                vertical-align: middle; 
                        }
                         &:hover{
                              .dropdown-service{
                              display:block;}
                        }
                         .dropdown-service{
                            position: absolute;
                            border: 1px solid #e6e6e6;
                            border-top:none ;
                            background: white;
                            width: 76px;
                            top: 34px;
                            left: -1px;
                            text-align: center;
                            display: none;
                            a{
                                display: block;
                                padding: 0 10px;
                                line-height: 20px;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }

                    }
                    .crat:hover{
                        border-bottom: 1px solid white;
                        height: 34px;
                        line-height: 34px;
                        position: relative;
                        z-index: 1002;
                        }
                    }
            
        //.site-nav-right end
    }
}


.text-primary{
    color: #ff6a00;
}
.CartInfo{
    position: absolute;
    border: 1px solid #e6e6e6;
    background: white;
    width: 288px;
    padding: 15px;
    top: 34px;
    left: -207px;   
    display: none;
    z-index: 1000;
    .spare{
        text-align: center;
        line-height: 30px;
    }
    .cart{
        max-height: 400px;
        overflow: auto;
        margin-bottom: 20px;
    }
    .com-list{
        margin-bottom: 20px;
        padding: 10px 0;
        border-bottom: 1px solid #d9d9d9;
        overflow: hidden;
    }
     .img-box{
        overflow: hidden;
        width: 52px;
        height: 52px;
        margin-right: 15px;
        border: 1px solid #d9d9d9;
        float: left;
        img{
            width: 52px;
            height: 52px;
            vertical-align: middle;
            display: inline-block;
        }        
    }
    .title{
            line-height: 17px;
            overflow: hidden;
            width: 120px;
            height: 54px;
            margin-right: 15px;
            text-align: left;
            font-size: 12px;
            float: left;
        }
    .num{
            line-height: 20px;
            overflow: hidden;
            text-align: center;
            height: 20px;
            margin-top: 15px;
            padding: 0 6px;
            background-color: #d9d9d9;
            float: left;
            font-size: 12px;
        }
    .price{
            line-height: 20px;
            float: right;
            height: 20px;
            margin-top: 15px;
            font-size: 12px;
            font-weight: bold;
            color: #FF6600;
        }
        .settlement{
            line-height: 30px;
            font-size: 14px;
            b{
                color: #FF6600;
            }
            .price-num{
                color: #FF6600;
                font-size: 18px;
            }
            .total-price{
                float: left;
            }
            a{
                display: block;
                color: #ffffff;
                border-color: #f56600;
                background-color: #f56600;
                padding: 5px 10px;
                font-size: 12px;
                line-height: 1.5em;
                float: right
            }
        }
}
//CartInfo end

.header{
    @extend %box;
    height: 120px;    
    .logo{
        width: 500px;   
        padding-top: 28px;
        float: left;
        h1{ 
            width: 220px; 
            height: 64px; 
            float: left;  
        }
        h2{
            background: url(../../images/index/common_z.png) no-repeat;
           @include posi(-294px, 0px);
            position: relative;
            display: inline-block;
            float: left;
            overflow: hidden;
            width: 116px;
            height: 36px;
            margin-top: 13px;
            color: #fff;
            vertical-align: middle;
            text-indent: -99em;
        }
        a { 
            display: block; 
            width: 100%; 
            height: 100%; 
            background: url(../../images/index/logo.png) no-repeat; 
            text-indent: -999em; 
        }
        i{  
            display: inline-block;
            float: left;
            overflow: hidden;
            width: 0;
            height: 36px;
            margin:{
                top: 13px;
                left: 12px;
                right: 12px;
            }
            vertical-align: middle;
            border-right: 1px solid #d9d9d9;
        }
    } 
    //logo end
    .search {
        padding-top: 40px;
        float: left;
                input{
                    border: 1px solid #ff6a00;
                    width: 225px;
                    height: 20px;
                    padding: 6px;
                }
                  button{
                        width: 82px;
                        height: 34px;
                        font-size: 16px;
                        background: #ff6a00;
                        padding: 6px;
                        border: 1px solid #ff6a00;
                        line-height: 20px;
                        color: white;
                        margin-left:-9px;
                        vertical-align: middle;
                    }
                .help-block{
                       color: #999999;
                        font-size: 12px;
                        line-height: 17px;
                        margin: 7px 0;
                    }      
             
        
    }
   //search  end
   
   .service{
        float: right;
        width: 255px;
        height: 31px;
        padding-top: 40px;
        font-size: 10px;    
    }
    .ico-phone{
            background: url(../../images/index/common_z.png) no-repeat;
            height: 24px;
            width: 24px;
            display: inline-block;
            vertical-align: middle;
             @include posi(-384px, -48px);
            margin-right: 9px;
        }
    .ico-headset{
            background: url(../../images/index/common_z.png) no-repeat;
            height: 24px;
            width: 24px;
            display: inline-block;
            vertical-align: middle;
            @include posi(-297px, -133px);
            margin-right: 9px;
        }
    i{
        display: inline-block;
        overflow: hidden;
        width: 0;
        height: 15px;
        margin:{
            top: 7px;
            right: 23px;
            left: 24px;
        }
        vertical-align: sub;
        border-right: 1px solid #d9d9d9;
    }
}
//header end


footer{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    .auth{
        height: 54px;
        position: relative;
        img{
            display: inline-block;
            margin: 0 4px ;
        }
    }
    a:hover{
        text-decoration: underline;
    }
    p {
        margin-top: 37px;
        font-size: 12px;
        color: #737373;
        line-height: 17px;
    }
    .last{
        margin-top: 15px;
        margin-bottom: 35px;
    }
}
