<div class="r-fixde">
        <ul class="list">
            <li class="one">
                <span class="ico6 ico"></span>
                <div class="ibar_login_box">
                    <img src="../images/index/avatar_none.jpg"/>
                    <p>您好，请 <a href="login.html">登录</a> | <a href="register.html">注册</a></p>
                    <div class="login_btnbox">
                        <span class="ico16 ico"></span><a>我的订单</a>
                    </div>
                </div>
            </li>
            <li class="secend">
                <a href="showcart.html">
                    <i></i>
                    <span class="ico7 ico"></span>
                    <span class="ico9 ico">购物车</span>
                    <span class="ico8 ico">0</span>
                    <i></i>
                    <div></div>
                </a>
                <div class="dropdown-cart CartInfo">
                    <div class="spare">
                        您的购物车中没有商品，先去选购吧！
                    </div>
                    <div class="cart">
                        
                    </div>                              
                    <div class="settlement">
                        <div class="total-price">
                            <span><b class="first"></b>件总计：<b>¥</b></span>
                            <span class="price-num"></span>
                        </div>
                        <a href="showcart.html">去购物车结算</a>
                    </div>
                    
                </div>
            </li>
            <li>
                <span class="ico10 ico"></span>
                <div class="mp_tooltip">我的关注</div>
            </li>
            <li>
                <span class="ico11 ico"></span>
                <div class="mp_tooltip">最近查看</div>
            </li>
            <li>
                <span class="ico12 ico"></span>
                <div class="mp_tooltip">400-899-8188</div>
            </li>
            <li>
                <span class="ico13 ico"></span>
                <div class="mp_tooltip">在线客服</div>
            </li>
        
        </ul>
        <div class="footer">
            <span class="ico14 ico"></span>
            <div class="mp_qrcode">
                <p><img src="../images/index/QR_wx.jpg" width="110" height="110">关注微信公众号</p>
                <p><img src="../images/index/QR_app.jpg" width="110" height="110">下载花礼APP</p>                           
            </div>
        </div>
        <div class="return-top">
            <span class="ico15 ico"></span>
            <div class="mp_tooltip">回到顶部</div>
        </div>
    </div>