<footer>
    <div class="auth">
        <a href="#"><img src="../images/index/cnnic.png" height="37" width="102" class="auth-one"/></a>
        <a href="#"><img src="../images/index/cxwz.gif" height="40" width="112"></a>
        <a href="#"><img src="../images/index/smyz.gif" height="40" width="106"></a>
        <img src="../images/index/slogan.png" height="50" width="212">
        <a href="#"><img src="../images/index/zfb.gif" height="49" width="96"></a>
        <a href="#"><img src="../images/index/100.jpg" height="49" width="150"></a>
        <a href="#"><img src="../images/index/bico1.jpg" alt="ICP" height="46" width="35"></a>
        <a href="#"><img alt="网警" src="../images/index/bico2.jpg" height="46" width="35"></a>
        <a href="#"><img src="../images/index/bico3.jpg" alt="网安" height="46" width="35"></a>
    </div>
    <p>
        <a href="#" title="中国花卉协会会员">中国花卉协会会员</a>
        <a href="#">中国电子商务协会会员</a> ICP经营许可证：
        <a href="#">粤B2-20050744</a> <b>|</b>
        <a href="#">粤ICP备09171662号</a> <span class="ico beian"></span>粤公网安备44030502000373号 Copyright © 2005-2016</p>
    <p class="last">
        花礼网 （中国鲜花礼品网） <a href="index.html">www.hua.com</a> 中国鲜花网领先品牌，鲜花速递专家！
    </p>
</footer>